<!-- your html code here -->
<div class="portfolioHeader">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id harum nulla, expedita rerum quae a ullam quia veniam?
        Sunt consectetur corrupti consequatur aut amet unde, in facilis temporibus ducimus ipsam?</p>
</div>

<div class="portfolioCard d-flex justify-content-between">
    <div class="card-group">
        <div class="card bg-secondary">
            <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">

        </div>
        <div class="card bg-secondary">
            <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">

        </div>
        <div class="card bg-secondary">
            <img src="https://via.placeholder.com/700x400" class="card-img-top" alt="...">

        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col text-primary pt-2 fs-4">
                    <strong>Project Name</strong>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur at assumenda iusto quibusdam
                        quaerat, blanditiis facere soluta, minima architecto dolore harum voluptatum eaque animi
                        temporibus ipsum perspiciatis molestias tenetur deserunt!</p>
                </div>
                <div class="col text-primary pt-2 fs-4">
                    <strong>Project Name</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere molestiae libero, est, dicta esse
                        officia facilis, nam sed officiis id exercitationem. Mollitia vero magnam tempora eaque
                        repudiandae adipisci alias! Quaerat?</p>
                </div>
                <div class="col text-primary pt-2 fs-4">
                    <strong>Project Name</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, dolorum error, alias accusamus
                        repudiandae, odit ipsam similique temporibus necessitatibus impedit eum deserunt eligendi quia
                        veniam deleniti voluptas ex illum in?</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>